

#alert-dialog-slide-description{

    margin-bottom: 30px;
}

.MuiDialogActions-spacing{

    padding: 20px !important;
}

.dialog-content-bg{

    width: 1000px;
    height: 550px;
    padding: 24px;
    padding-top: 36px;
}