@import 'variables';

.profile-comments{

    width: 100%;
    display: grid;
    grid-row-gap: 20px;

    .profile-a-comment{

        padding: 20px;
        border-radius: 8px;
        border: 1px solid #DADADA;
    }
}