@import 'variables';

.video-call{

    display: grid;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    width: $desktop-width;
    justify-self: center;
    justify-content: center;

    .video-player{

        background-color: black;
        width: 100%;
    }

    .self-video{

        position: fixed;
        right: 0%;
        bottom: 0%;
        width: 300px;
        height: 200px;
        z-index: 2;
    }

    .other-video{

        position: fixed;
        right: 0%;
        bottom: 0%;
        width: 100%;
        height: 100%;
    }
}