@import 'variables';

.video-controls{
    
    position: absolute;
    bottom: 5%;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    display: flex;
    justify-content: space-around;
    z-index: 3;

    .control-button{
        width: 60px;
        border-radius: 50px;
    }

}