.css-ndlnsv-MuiButtonBase-root-MuiTab-root{

    text-transform: capitalize !important;
    text-align: left !important;
    justify-content: flex-start !important;
    -webkit-align-items: start !important;
}

.form-title{

    position: absolute;
    top: 110px;
    font-size: 27px;
    width: 800px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 10px;
}

