@import 'variables';

.navbar{

    grid-column: 1 / 4;
    height: 75px;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr $desktop-width 1fr;
    padding-right: 30px;
    color: white;
    

    .navbar-content{

        grid-column: 2 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;

        .navbar-logo{

            height: 50px;
            width: 50px;
            background-color: white;
        }

        .navbar-links{

            width: 400px;
            display: flex;
            justify-content: space-between;
        }


    }

    .navbar-profile{

        grid-column: 3 / 4;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .navbar-login{

            margin-right: 30px;
            background-color: #6763FF;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 8px;
        }

        .navbar-join-us{

            margin-right: 30px;
            background-color: #63FFE3;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 8px;
        }
    }
}