@import 'variables';

.App{

    display: grid;
    grid-template-columns: 1fr $desktop-width 1fr;
    background-color: $secondary-color;
    margin: 0;
    justify-content: center;
    font-family: $font-family;
}

@media(max-width: $desktop-width){

    .App{

        grid-template-columns: 1fr $tablet-width 1fr;
    }
}

@media(max-width: $tablet-width){

    .App {
        grid-template-columns: 1fr $mobile-width 1fr;
    }
}

input:focus {
    box-shadow: none !important;
}

[type='text']:focus{
    box-shadow: none !important;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
    box-shadow: none !important;
}