@import 'variables';

.App{

    display: grid;
    grid-template-columns: 1fr $desktop-width 1fr;
    background-color: $secondary-color;
    margin: 0;
    justify-content: center;
    font-family: $font-family;
}

@media(max-width: $desktop-width){

    .App{

        grid-template-columns: 1fr $tablet-width 1fr;
    }
}