@import 'variables';

.consultant-service-settings{

    .c-account-section-title{

        font-size : 1.2rem;
        border-bottom: 1px solid #DADADA;
        padding-bottom: 10px;
        padding-right: 30px;
        margin-bottom: 30px;
    }

    .c-account-services{
        margin-bottom: 50px;
    }

    .c-account-service-hours{

        padding: 15px 20px;
        border: 1px solid #DADADA;;
        border-radius: 8px;

        .c-account-service-row{

            display: grid;
            grid-template-columns: 70px 210px 42px;
            border-bottom: 1px solid #DADADA;
            padding: 30px 10px;
            grid-column-gap: 40px;
            align-items: center;

            .c-account-service-day{

            }

            .c-account-service-option-section{

                display: grid;
                grid-row-gap: 10px;
                margin-right: 60px;

                .c-account-service-option-section-row{

                    display: flex;
                    align-items: center;

                    .c-account-horizontal-seperator{

                        width: 15px;
                        height: 3px;
                        background-color: #DADADA;
                        margin: 0px 15px;
                    }
                }
            }

            
        }
    }

    .c-account-service-save-button{

        justify-self: end;
        margin-top: 40px;
    }
}