@import 'variables';


.video-call-page{
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    width: 100%;
    grid-column: 1 / 4;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .pre-call-buttons{

        justify-self: center;
        display: flex;
        width: 25%;
        justify-content: space-around;

        .pre-button{

            width: 90px;
        }
    }
}